[Desktop Entry]
Name=Pure Squares

X-KDE-PluginInfo-Name=Pure Squares
X-KDE-PluginInfo-Author=Malcer
X-KDE-PluginInfo-Email=malcer[at]gmx[dot]com | malcer.deviantart.com
X-KDE-PluginInfo-License=CreativeCommons-BY-SA
