[Desktop Entry]
Name=Caledonia
Comment=Elegant and minimalist dark theme
Comment[es]=Tema oscuro elegante y minimalista
Comment[gl]=Tema escuro elegante e minimalista
Comment[ca]=Tema fosc, elegant i minimalista
Comment[it]=Tema scuro elegante e minimale
Comment[de]=Elegant und minimalistisch dunkles thema
Comment[fr]=Thème sombre élégant et minimaliste
comment[fi]=Hienostunut ja minimalistinen tumma teema
Comment[ru]=Изящная и минималистическая темная тема
Comment[ru_RU]=Изящная и минималистическая темная тема
Comment[pt_BR]=Tema simples e elegante com visual escuro
Comment[eu]=Mahaigain gai ilun, minimalista eta dotorea
Comment[zh_TW]=精緻且簡潔的暗色主題
Comment[zh_CN]=精緻且簡潔的暗色主題
Comment[eo]=Eleganta kaj minimumisma malluma temo
Comment[x-test]=xxElegant and minimalist dark themexx

X-KDE-PluginInfo-Author=Malcer
X-KDE-PluginInfo-Email=malcer@gmx.com
X-KDE-PluginInfo-Name=Caledonia
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=caledonia.sourceforge.net || malcer.deviantart.com/
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=Creative Commons BY-SA 3.0 | creativecommons.org/licenses/by-sa/3.0/
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=caledonia
defaultFileSuffix=.jpg
defaultWidth=2880
defaultHeight=1880


