[Desktop Entry]
Name=Light Wood

X-KDE-PluginInfo-Name=Light Wood
X-KDE-PluginInfo-Author=Malcer
X-KDE-PluginInfo-Email=malcer[at]gmx[dot]com | malcer.deviantart.com
X-KDE-PluginInfo-License=CreativeCommons-BY-SA
