[Desktop Entry]
Name=Aqua

X-KDE-PluginInfo-Name=Aqua
X-KDE-PluginInfo-Author=Alexander A. Alnes Hellesylt "SucXceS"
X-KDE-PluginInfo-Email=http://sucxces.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-ND
