[Desktop Entry]
Name=Jade

X-KDE-PluginInfo-Name=Jade
X-KDE-PluginInfo-Author=Malcer
X-KDE-PluginInfo-Email=malcer[at]gmx[dot]com | malcer.deviantart.com
X-KDE-PluginInfo-License=CreativeCommons-BY-SA
