[Desktop Entry]
Name=Industrial

X-KDE-PluginInfo-Name=Industrial
X-KDE-PluginInfo-Author=Malcer
X-KDE-PluginInfo-Email=malcer[at]gmx[dot]com | malcer.deviantart.com
X-KDE-PluginInfo-License=CreativeCommons-BY-SA
