[Desktop Entry]
Name=Bliss

X-KDE-PluginInfo-Name=Bliss
X-KDE-PluginInfo-Author=GreenToadMX
X-KDE-PluginInfo-Email=http://greentoadmx.deviantart.com/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-ND
